%dropdown{
	position:absolute;
	background-color:$header_bg_cart_color;
	visibility:hidden;
	@include box-shadow(0 0px 7px #ccc);
	@include opacity(0) ;
	border:1px solid #ccc;
	font:$general_font;
	padding:$var_space;
	min-width:300px;
	text-align:left;	
	z-index:200;
}/*@extend %dropdown;*/
header{
	position:relative;
	z-index:100;
	.sticky{
		position:fixed;
	}
	.widget{margin-bottom:0;}
	/*============  HEADER DEFAULT ======================*/
	.wd-header-top{
		background: #9e0b0f;
		z-index:1;
		ul{
			padding:0;
			margin:0;
			list-style:none;
			li{margin:0;}
		}
		.wd-header-info{float:left;}
		.wd-information + .wd-information.style-1{
			border-left-color:rgba(255,255,255,0.1);
		}
		.wd_loginuser{
			float:right;
			padding:13px 0;
			a{
				color:$header_text_color2;
			}
		}
	}
	.wd-header-bottom{
		background:$header_bg_color1;
		padding:30px 0 0;
		box-shadow: 0 0px 7px #ebebeb;
		border-bottom: 1px solid #ebebeb;
		>.container{position:relative;}
		.wd-header-logo {
			float:left;
		}
		.wd-header-menu, .wd-search-post{
			float:right;
			clear:none;
		}
		.wd-header-menu{
			margin-top:3px;
			.navbar-nav > li > a{
				padding-top:0;
				padding-bottom:0;
				text-shadow:none;
				background:none;
			}
		}
		nav.ubermenu-horizontal .ubermenu-nav li.ubermenu-item-level-0 > a span{padding-bottom:35px;}
		.wd-search-post{margin-left:40px; padding:0;}
	}
	/*============ END HEADER DEFAULT ======================*/
	.wpb_content_element{
		margin-bottom:0;
	}
	.vc_row[data-vc-full-width]{
		overflow:visible;
		float:left;
		width:100%;
	}
	.wd-information{
		&.style-1{
			display:inline-block;
			font:$header_top_font;
			padding:17px 0 16px 0;
			.wd-feature-icon{
				display:inline-block;
				font-size:15px;
				margin-right:12px;
				color:$header_text_color2;
			}
			.wd-content-info{
				display:inline-block;
				vertical-align:top;
				color:$header_text_color2;
			}
		}
		&+.wd-information.style-1{
			margin-left:27px;
			padding-left:30px;
			border-left:1px solid $colorPrimary;
			@media only screen and (max-width: 767px){
				margin-left:10px;
				padding-left:10px;
			}
		}
	}
	.header01, .header02, .header03{
		box-shadow: 0 0px 7px #ebebeb;
		border-bottom: 1px solid #ebebeb;
		.wd_tini_account_wrapper, .vc_wp_search, .wd_tini_cart_wrapper, .wd-search-post{
			padding:30px 20px;
			border-left:1px solid #f1f1f1;
		}
		nav.ubermenu-horizontal, .header-main {
			padding:30px 0 19px 0;
		}
		nav.ubermenu-horizontal .ubermenu-nav li.ubermenu-item-level-0 > a span{}
		nav.ubermenu-horizontal .ubermenu-nav li.ubermenu-item-level-0 > ul.ubermenu-submenu{top:100%;}
	}
	.header02, .header03{border-bottom-color:rgba(255,255,255,0.1);}
	.header02{
		background:$header_bg_color2;
		nav.ubermenu-horizontal .ubermenu-nav li.ubermenu-item-level-0 > a, .vc_wp_search .widget_search .searchform button, .wd_tini_account_wrapper.show-icon-user .wd_tini_account_control a, .wd_tini_cart_wrapper .wd_tini_cart_control a, .wd-search-post .wd-click-popup-search{
			color:$header_text_color2;
		}
		.wd_tini_account_wrapper, .vc_wp_search, .wd_tini_cart_wrapper, .wd-search-post{
			border-left-color:rgba(255,255,255,0.1);
		}
	}
	.header03{
		background:$header_bg_color3;
		nav.ubermenu-horizontal .ubermenu-nav li.ubermenu-item-level-0 > a, .vc_wp_search .widget_search .searchform button, .wd_tini_account_wrapper.show-icon-user .wd_tini_account_control a, .wd_tini_cart_wrapper .wd_tini_cart_control a, .wd-search-post .wd-click-popup-search{
			color:$header_text_color2;
		}
		.wd_tini_account_wrapper, .vc_wp_search, .wd_tini_cart_wrapper, .wd-search-post{
			border-left-color:rgba(255,255,255,0.1);
		}
		.wd_tini_cart_wrapper .wd_tini_cart_control a .num_item{background:$header_bg_color1; color:$header_text_color1;}
	}
	.header04, .header05, .header06, .header07{
		&.header04_top, &.header05_top, &.header06_top, &.header07_top{
			background:$header_bg_color2;
			z-index:1;
			.wd_tini_account_wrapper{
				float:right;
				padding:13px 0;
				a{
					color:$header_text_color2;
				}
			}
		}
		&.header04_bottom, &.header05_bottom, &.header06_bottom, &.header07_bottom{
			background:$header_bg_color1;
			padding:30px 0 0 0;
			box-shadow: 0 0px 7px #ebebeb;
			border-bottom: 1px solid #ebebeb;
			.header-main {
				float:left;
			}
			nav.ubermenu-horizontal, .wd-search-post{
				float:right;
				clear:none;
			}
			nav.ubermenu-horizontal .ubermenu-nav li.ubermenu-item-level-0 > a span{padding-bottom:35px;}
			nav.ubermenu-horizontal{margin-top:3px;}
			.wd-search-post{margin-left:40px;}
		}
	}
	.header05{
		&.header05_top{
			background:$header_bg_color3;
			.wd-information + .wd-information.style-1{
				border-left-color:rgba(255,255,255,0.1);
			}
		}
	}
	.header06{
		&.header06_top{
			background:$header_bg_color3;
			.wd-information + .wd-information.style-1{
				border-left-color:rgba(255,255,255,0.1);
			}
		}
		&.header06_bottom{
			background:$header_bg_color2;
			nav.ubermenu-horizontal .ubermenu-nav li.ubermenu-item-level-0 > a, .wd-search-post .wd-click-popup-search, .wd_tini_cart_wrapper .wd_tini_cart_control a{
				color:$header_text_color2;
			}
		}
	}
	.header07{
		&.header07_top{
			background:$header_bg_color2;
			.wd-information + .wd-information.style-1{
				border-left-color:rgba(255,255,255,0.1);
			}
		}
		&.header07_bottom{
			background:$header_bg_color3;
			nav.ubermenu-horizontal .ubermenu-nav li.ubermenu-item-level-0 > a, .wd-search-post .wd-click-popup-search, .wd_tini_cart_wrapper .wd_tini_cart_control a{
				color:$header_text_color2;
			}
			.wd_tini_cart_wrapper .wd_tini_cart_control a .num_item{
				color:$header_text_color1;
				background:$header_bg_color1;
			}
		}
	}
	.header08, .header09, .header10, .header11{
		&.header08_top, &.header09_top, &.header10_top, &.header11_top{
			background:$header_bg_color2;
			z-index:2;
			.wd_tini_account_wrapper{
				float:right;
				padding:13px 0;
				a{
					color:$header_text_color2;
				}
			}
		}
		&.header08_middle, &.header09_middle, &.header10_middle, &.header11_middle{
			background:$header_bg_color1;
			padding:22px 0 19px 0;
			border-bottom:1px solid #f1f1f1;
			z-index:1;
			.header-main{
				padding:11px 0;
			}
			.shortcode-features{
				float:right;
				margin-left:80px;
				margin-bottom:0;
			}
		}
		&.header08_bottom, &.header09_bottom, &.header10_bottom, &.header11_bottom{
			background:$header_bg_color1;
			padding:12px 0 0;
			/*box-shadow: 0 2px 7px #ccc;*/
			background:url(assets/images/shadow-header.png) repeat-x left calc(100% + 3px);
			nav.ubermenu-horizontal{
				float:left;
				.ubermenu-nav li.ubermenu-item-level-0{
					&:first-child{
						>a span{
							padding-left:0;
						}
					}
				}
			}
		}
	}
	.header08{		
		&.header08_bottom{
			.vc_column-inner  >.wpb_wrapper{
				float:left;
				width:100%;
				position:relative;
			}
		}
	}
	.header09{
		&.header09_top{
			background:$header_bg_color3;
			.wd-information + .wd-information.style-1{
				border-left-color:rgba(255,255,255,0.1);
			}
		}	
		&.header09_bottom{
			.vc_column-inner  >.wpb_wrapper{
				float:left;
				width:100%;
				position:relative;
			}
		}
	}
	.header10{
		&.header10_top{
			background:$header_bg_color3;
			.wd-information + .wd-information.style-1{
				border-left-color:rgba(255,255,255,0.1);
			}
		}	
		&.header10_middle{
			background:$header_bg_color2;
			border-bottom-color:rgba(255,255,255,0.1);
			.shortcode-features .feature-style-0{
				.feature_thumbnail_image .feature_icon, .feature_information .feature_title a, .feature_information .feature_excerpt{
					color:$header_text_color2;
				}	
			}
		}
		&.header10_bottom{
			background:$header_bg_color2;
			nav.ubermenu-horizontal .ubermenu-nav li.ubermenu-item-level-0 > a, .wd-search-post .wd-click-popup-search, .wd_tini_cart_wrapper .wd_tini_cart_control a{
				color:$header_text_color2;
			}
			.vc_column-inner  >.wpb_wrapper{
				float:left;
				width:100%;
				position:relative;
			}
		}
	}
	.header11{
		&.header11_top{
			background:$header_bg_color2;
			.wd-information + .wd-information.style-1{
				border-left-color:rgba(255,255,255,0.1);
			}
		}	
		&.header11_middle{
			background:$header_bg_color3;
			border-bottom-color:rgba(255,255,255,0.1);
			.shortcode-features .feature-style-0{
				.feature_thumbnail_image .feature_icon, .feature_information .feature_title a, .feature_information .feature_excerpt{
					color:$header_text_color2;
				}	
			}
			.feature_thumbnail_image{border-color:$header_bg_color1;}
		}
		&.header11_bottom{
			background:$header_bg_color3;
			nav.ubermenu-horizontal .ubermenu-nav li.ubermenu-item-level-0 > a, .wd-search-post .wd-click-popup-search, .wd_tini_cart_wrapper .wd_tini_cart_control a{
				color:$header_text_color2;
			}
			.wd_tini_cart_wrapper .wd_tini_cart_control a .num_item{color:$header_text_color1; background:$header_bg_color1;}			
			.vc_column-inner  >.wpb_wrapper{
				float:left;
				width:100%;
				position:relative;
			}
		}
	}
	.header10, .header11{
		.shortcode-features .style-font-8 .feature_information .feature_title a, .shortcode-features .style-font-8 .feature_information .feature_excerpt, .shortcode-features .style-font-8 .feature_thumbnail_image .feature_icon{color:#fff;}
		.shortcode-features .style-font-8 .feature_thumbnail_image{border-color:#fff;}
	}
	.header12, .header13, .header14, .header15{
		&.header12_top, &.header13_top, &.header14_top, &.header15_top{
			background:$header_bg_color2;
			z-index:1;
			.wd_tini_account_wrapper{
				float:right;
				padding:13px 0;
				a{
					color:$header_text_color2;
				}
			}
			.wd_tini_cart_wrapper .wd_tini_cart_control a, .wd-search-post .wd-click-popup-search{
				color:$header_text_color2;				
			}
			.wd-information + .wd-information.style-1{border-left-color:rgba(255,255,255,0.1);}
			.wd-search-post{
				padding: 13px 0 13px 20px;
				border-left: 1px solid rgba(255, 255, 255, 0.1);
				margin-left: 20px;
			}
			.wd_tini_cart_wrapper{
				padding:13px 0 13px 20px;
			}
			.wd_tini_cart_wrapper .wd_tini_cart_control a .num_item{
				color:$header_text_color1; 
				background:$header_bg_color1;
			}
		}
		&.header12_bottom, &.header13_bottom, &.header14_bottom, &.header15_bottom{
			background:$header_bg_color1;
			padding:30px 0;
			box-shadow: 0 0px 7px #ebebeb;
			border-bottom: 1px solid #ebebeb;
			.header-main {
				text-align:center;
			}
			nav.ubermenu-horizontal{margin-top:3px;}
			.left_navigation{
				nav.ubermenu-horizontal{
					clear:none;
					float:right;
				}
			}
			.right_navigation{
				nav.ubermenu-horizontal{
					clear:none;
					float:left;
				}
			}
		}
	}
	.header13{
		&.header13_top{
			background:$header_bg_color3;
		}
	}
	.header14{
		&.header14_top{
			background:$header_bg_color3;
		}
		&.header14_bottom{
			background:$header_bg_color2;
			nav.ubermenu-horizontal .ubermenu-nav li.ubermenu-item-level-0 > a{
				color:$header_text_color2;
			}
		}
	}
	.header15{
		&.header15_top{
			background:$header_bg_color2;
		}
		&.header15_bottom{
			background:$header_bg_color3;
			nav.ubermenu-horizontal .ubermenu-nav li.ubermenu-item-level-0 > a{
				color:$header_text_color2;
			}
		}
	}
	.header16, .header17, .header18, .header19{
		&.header16_top, &.header17_top, &.header18_top, &.header19_top{
			background:$header_bg_color2;
			z-index:1;
			.wd_tini_account_wrapper{
				float:right;
				padding:13px 0;
				a{
					color:$header_text_color2;
				}
			}
			.wd-information + .wd-information.style-1{
				border-left-color:rgba(255,255,255,0.1);
			}
		}
		&.header16_middle, &.header17_middle, &.header18_middle, &.header19_middle{
			background:$header_bg_color1;
			padding:22px 0 19px 0;
			border-bottom:1px solid #f1f1f1;
			z-index:101;
			.header-main{
				text-align:center;
			}
			.shortcode-features{
				float:right;
				margin-left:80px;
			}
		}
		&.header16_bottom, &.header17_bottom, &.header18_bottom, &.header19_bottom{
			background:$header_bg_color1;
			padding:12px 0 0;
			box-shadow: 0 2px 7px #ccc;
			border-bottom: 1px solid #ccc;
			nav.ubermenu-horizontal{
				text-align:center;
			}
		}
	}
	.header17{
		&.header17_top{
			background:$header_bg_color3;
		}
	}
	.header18{
		&.header18_top{
			background:$header_bg_color3;
		}
		&.header18_middle{
			background:$header_bg_color2;
			border-bottom-color: rgba(255,255,255,0.1);
			.wd-search-post.style-2 form.searchform input[type='text']{
				background-color:rgba(255,255,255,0.1);
				color:$header_text_color2;
			}
			.wd_tini_cart_wrapper .wd_tini_cart_control a, .wd-search-post.style-2 form.searchform button{
				color:$header_text_color2;
			}
		}
		&.header18_bottom{
			background:$header_bg_color2;
			nav.ubermenu-horizontal .ubermenu-nav li.ubermenu-item-level-0 > a{
				color:$header_text_color2;
			}
		}
	}
	.header19{
		&.header19_top{
			background:$header_bg_color2;
		}
		&.header19_middle{
			background:$header_bg_color3;
			border-bottom-color: rgba(255,255,255,0.1);
			.wd-search-post.style-2 form.searchform input[type='text']{
				background-color:rgba(255,255,255,0.1);
				color:$header_text_color2;				
				&::-webkit-input-placeholder {
				  color:#fff!important; }
			}
			.wd_tini_cart_wrapper .wd_tini_cart_control a, .wd-search-post.style-2 form.searchform button{
				color:$header_text_color2;
			}
			.wd_tini_cart_wrapper .wd_tini_cart_control a .num_item{
				color:$header_text_color1; 
				background:$header_bg_color1;
			}
		}
		&.header19_bottom{
			background:$header_bg_color3;
			nav.ubermenu-horizontal .ubermenu-nav li.ubermenu-item-level-0 > a{
				color:$header_text_color2;
			}
		}
	}
}
.wd-search-post{
	float:right;
	padding-left: 20px;
	.wd-click-popup-search{
		color:$header_text_color1;
		cursor:pointer;
	}
	&.style-2{
		float:left;
		padding:0;
		form.searchform{
			width:220px;
			position:relative;
			input[type='text']{
				width:100%;
				height:34px;
				border:none;
				background:#f1f1f1;
				border-radius:3px;
				padding:5px 20px;
				font:$general_font;
				color:$header_text_color1;
			}
			button{
				border:none;
				background:none;
				position:absolute;
				top:0;
				right:0;
				padding:8px;
				color:$header_text_color1;
			}
		}
	}
}
.vc_wp_search{
	.widget_search{
		.searchform{
			position:relative;
			width:220px;
			input[type='text']{
				height:34px;
				width:100%;
				border:none;
				background:#f1f1f1;
				border-radius:3px;
				font:$general_font;
				color:$header_text_color1;
				padding:0 20px;
				&::-webkit-input-placeholder {
				  color:$header_text_color1; }

				&:-moz-placeholder {
				  color:$header_text_color1; }

				&::-moz-placeholder {
				  color:$header_text_color1; }

				&:-ms-input-placeholder {
				  color: $header_text_color1; }
			}
			button{
				position:absolute;
				top:0;
				right:0;
				border:none;
				background:none;
				color: $header_text_color1;
				padding:0;
			}
		}
	}
	&.show-icon-search{
		float: right;
		margin: 0;
		padding-left:20px;
		.widget_search{
			position:relative;
			z-index:100;
			.searchform{
				width:auto;
				input[type='text']{		
					width: 0;
					opacity: 0;
					visibility: hidden;
					position: absolute;
					top: 0;
					right: -10px;
					background: #f1f1f1;
					-moz-transition: all 300ms ease;
					-webkit-transition: all 300ms ease;
					-o-transition: all 300ms ease;
					transition: all 300ms ease;
					-moz-backface-visibility: hidden;
					-webkit-backface-visibility: hidden;
					backface-visibility: hidden;
				}
			}
			button{
				position:relative;
			}
		}	
	}
}
.wd-popup-search{
	&.show{
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		position: fixed;
		z-index: 800;
		overflow-y: auto;
		&:before{
			height: 100%;
			width: 100%;
			left: 0;
			top: 0;
			background-color: #0a121f;
			opacity: 0.9;
			position: absolute;
			z-index: -1;
			content:'';
		}
		.searchform{
			margin-left: 50px;
			margin-right: 50px;
			position: absolute;
			z-index: 2;
			top: 50%;
			left: 0;
			width: calc(100% - 100px);
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			input[type='text']{
				border: none;
				border-bottom: 1px solid rgba(255,255,255,0.3);
				width: 100%;
				height: 50px;
				color:#fff;		
				&::-webkit-input-placeholder {
				  color:#fff; }

				&:-moz-placeholder {
				  color:#fff; }

				&::-moz-placeholder {
				  color:#fff; }

				&:-ms-input-placeholder {
				  color:#fff; }
			}
			button{
				position: absolute;
				right: 0;
				top: 0;
				background: none;
				border: none;
				height: 50px;
				width: 50px;
				font-weight:400;
				font-size:18px;
			}
			.screen-reader-text{display:none!important;}
		}
		.wd-search-close{
			position: absolute;
			top: 50px;
			right: 30px;
			width: 28px;
			height: 28px;
			text-align: center;
			color: #fff;
			font-size:0;
			cursor:pointer;
			&:before{
			    width: 28px;
				height: 2px;
				position: absolute;
				content: "";
				opacity: 1;
				top: 14px;
				right: auto;
				bottom: auto;
				left: 0.155em;
				-webkit-transform: rotateZ(45deg) scaleX(1) scaleY(1) scaleZ(1);
				transform: rotateZ(45deg) scaleX(1) scaleY(1) scaleZ(1);
				-webkit-transform-origin: 50% 50% 0;
				transform-origin: 50% 50% 0;
				background: #fff;
			}
			&:after{
			    width: 28px;
				height: 2px;
				position: absolute;
				content: "";
				opacity: 1;
				top: 14px;
				right: auto;
				bottom: auto;
				left: 0.155em;
				-webkit-transform: rotateZ(-45deg) scaleX(1) scaleY(1) scaleZ(1);
				transform: rotateZ(-45deg) scaleX(1) scaleY(1) scaleZ(1);
				-webkit-transform-origin: 50% 50% 0;
				transform-origin: 50% 50% 0;
				background: #fff;	
			}
		}
	}
}	
/*========= ACCOUNT =============*/
.wd_tini_account_wrapper{
	position:relative;
	.wd_tini_account_control{
		a{
			color:$header_text_color1;
			font:$header_top_font;
		}
	}
	&.show-icon-user{
		float:right;
		padding-left:20px;
		.wd_tini_account_control{
			a{
				font-size:0;
				color:$header_text_color1;
				&:before{
					@include font-awesome(\f007, 15px);
				}
			}
		}		
	}
	.form_drop_down{
		@extend %dropdown;
		display:none;
		right:0;
		@media only screen and (max-width: 992px){
			right:auto;
		}
		h3{
			margin:0 0 10px;
		}
		label{
			color:$main_title_color;
			font-weight:400;
			text-transform:uppercase;
		}
		input.input{width:100%;}
	}
	&:hover{
		.form_drop_down{
			opacity:1;
			visibility:visible;
		}
	}
}
.wd_tini_cart_wrapper {
	position:relative;
	float:right;
	padding-left:20px;
	.wd_tini_cart_control{
		/*padding-bottom: 12px;*/
		a{
			font-size:0;
			color:$header_text_color1;
			position:relative;
			&:before{
				@include font-awesome(\f07a, 15px);
			}
			.num_item{
				font:$general_font;
				color:#fff;
				width:24px;
				height:24px;
				text-align:center;
				border-radius:100%;
				background:$colorPrimary;
				display:inline-block;
				margin-left:10px;
			}
		}
	}	
	.cart_dropdown{
		@extend %dropdown;
		right:0;
		top:100%;
		h3.wd_cart_heading{
			display:none;
		}
		h5.wd_cart_item_info{
			font:$general_font;
			font-family: 'HelvetiCaneueMedium';
		}
		ul.cart_list{
			padding:0;
			list-style:none;
			li{
				margin-bottom:0;
				padding:0;
				a.pull-left{
					width:100px;
					padding:0;
					margin-right:30px;
					img{
					    margin: 0;
						float: none;
						width: 100%;
					}
				}
				.cart_item_wrapper{
					overflow:hidden;
					position:relative;
					a.wd_cart_title{
						@include changeColor($main_title_color, $colorPrimary);
						display:block;
						margin-bottom: 10px;
						font-weight:400;
					}
					.quantity{
						display:block;
						color:$main_title_color;
						font-family: 'HelvetiCaneueBlod';
					}
					a.remove{
						color:#e5e5e5;
						font-size:0;
						position:absolute;
						right:0;
						bottom:0;
						&:before{
							@include font-awesome(\f00d, 14px);
						}
					}
				}
				&+li{
					padding-top:21px;
					margin-top:20px;
					border-top:1px solid $main_line_color;
				}
			}
		}
		.dropdown_footer{
			padding-top:21px;
			margin-top:20px;
			border-top:1px solid $main_line_color;
			.total{
				margin-bottom: 30px;
				.link_color{
					font-family: 'HelvetiCaneueMedium';
					text-transform:uppercase;
					color:$main_title_color;
				}
				.link_color_hover{
					float:right;
					color:#141414;
					font-family: 'HelvetiCaneueBlod';
				}
			}	
			.buttons{
				a{
					color:#fff;
					display:block;
					padding:10px 0;
					border-radius:30px;
					font-size:12px;
					text-transform:uppercase;
					background:#363636;
					text-align: center;
					margin-bottom: 10px;
					&:after{
						@include font-awesome(\f105, 12px);
						margin-left:10px;
					}
					&:hover{
						background:$colorPrimary;
					}
				}
				a.checkout{
					background:$colorPrimary;					
					&:hover{
						background:#363636;
					}
				}
			}	
		}
	}
	&:hover{
		.cart_dropdown{
			opacity:1;
			visibility:visible;
		}
	}
}
.search-form{
	border-bottom:1px solid $main_line_color; position:relative;
	label{margin-bottom:0;width:100%;}
	input{ 
		border:0 none; 
		width:100%;
		padding-right:20px;
		color:$header_text_color1;
		font-size:13px;
		font-weight:500;
		&::-webkit-input-placeholder {
		  color:$header_text_color1; }

		&:-moz-placeholder {
		  color:$header_text_color1; }

		&::-moz-placeholder {
		  color:$header_text_color1; }

		&:-ms-input-placeholder {
		  color: $header_text_color1; }
	}
	.search-submit {
		position:absolute; right:0; top:0;
		background:transparent;
		border:0 none!important;
		padding:0;
		&:before{  
			@include font-awesome(\f002, 11px);
		} 
		
	}/*.search-submit*/
	
}/*.search-form*/

/*============== HEADER MOBILE =================*/
header .header-mobile{	
	.wd-header-top{
		padding:0 10px;
		.wd-content-info{
			a{color:#fff!important;}
		}
	}
	.wd-header-bottom{
		padding-bottom:10px;
		.wd-header-logo{
			width:100%;
			text-align:center;
			margin-bottom:30px;
			position:relative;
			z-index:1;
		}
		.wd-header-menu{
			float:left;
			width:25%;
			margin: 0;
			text-align: center;
			font-size: 20px;
			.menu-bars{
				color:$main_title_color;
				display:block;
				line-height:0;
				cursor:pointer;
				&.pushmenu{
					i{display:none;}
					&:before{
						@include font-awesome(\f00d, 20px);
						color:#fff;
					}
				}
			}
		}
		.wd-header-cart{
			float:left;
			width:25%;
			.wd_tini_cart_wrapper{
				float:none;
				.wd_tini_cart_control a:before{font-size:18px;}
			}
		}
		.wd-header-search{
			float:left;
			width:25%;
			text-align: center;
			font-size:18px;
			line-height:18px;
			.wd-search-post{
				float:none;
				margin:0;
			}
		}
		.wd_loginuser{
			float:left;
			width:25%;
			text-align:center;
			.wd_tini_account_control{
				>a{
					&:before{
						@include font-awesome(\f007, 20px);
					}	
					span{display:none;}
				}
			}
		}
	}
}
.pushmenu-left{display:none;}
@media only screen and (max-width: 992px){
	.wd-header-menu .pushmenu-left{
		display:block;
		position: fixed;
		z-index: 200;
		top: 0;
		left: 0;
		width: 280px;
		height: 100%;
		overflow-y: auto;
		-moz-transform: translateX(-280px);
		-o-transform: translateX(-280px);
		-ms-transform: translateX(-280px);
		-webkit-transform: translateX(-280px);
		transform: translateX(-280px);
		-moz-transition: all 0.6s ease;
		-o-transition: all 0.6s ease;
		-webkit-transition: all 0.6s ease;
		transition: all 0.6s ease;
		background-color: $btn4_bg_color;
		&.pushmenu{
			-moz-transform: translateX(0);
			-o-transform: translateX(0);
			-ms-transform: translateX(0);
			-webkit-transform: translateX(0);
			transform: translateX(0);		
		}
		.nav, .mobile-main-menu{
			padding:20px;
			margin:0;
			ul{
				padding:0;
				margin:0;
				list-style:none;
				li.page_item, li.menu-item{
					margin-bottom:18px;
					position:relative;
					display:block;
					text-align:left;
					font-size:14px;
					a{
						padding:0;
						@include changeColor(#fff, $colorPrimary);
						&:after{content:none!important;}
					}
					.children,.sub-menu{
						display:none;
						padding-left:20px;
						padding-top: 10px;
						padding-bottom:0;
						background: none;
						position: static;
						visibility: visible;
						opacity: 1;
						border: none;
						box-shadow: none;
						max-width: none;
						min-width: inherit;
						&:before{content:none;}
						li{
							padding:0;
							a{
								padding:0;
								border:none!important;
							}
						}
					}
					&.page_item_has_children, &.menu-item-has-children{
						i{
							float:right;
							width:20px;
							height:20px;
							text-align:center;
							color:#fff;
							cursor:pointer;
							&.openmenu + a + ul.children, &.openmenu + a + ul.sub-menu{
								display:block;
							}
						}
					}
				}
			}
		}	
		&.wp-user-login-mobile{
			top:32px;
		}
	}
	body.pushmenu{overflow:hidden;}
	.wd-header-menu .nav > ul > li.page_item ul.children > li a, .wd-header-menu .nav > ul > li.page_item ul.sub-menu > li a, .wd-header-menu .nav > ul > li.menu-item ul.children > li a, .wd-header-menu .nav > ul > li.menu-item ul.sub-menu > li a, .wd-header-menu ul.nav > li.page_item ul.children > li a, .wd-header-menu ul.nav > li.page_item ul.sub-menu > li a, .wd-header-menu ul.nav > li.menu-item ul.children > li a, .wd-header-menu ul.nav > li.menu-item ul.sub-menu > li a{display:inline-block;}
	
}
@media screen and (max-width:782px) {
	.wd-header-menu .pushmenu-left.wp-user-login-mobile{top:46px;}
}	